main {
    min-height: 80vh;
}

body, .bg-body{
    background-color: lightgrey !important;
}

.card, .shadow {
    box-shadow: 0 0 10px 0 grey !important;
    z-index: 10;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-group-text {
    width: 100px;
}

@media (max-width: 768px) {
    .hide-md {
      display: none;
    }
}

@media (max-width: 992px) {
    .hide-lg {
      display: none;
    }
}

@media (min-width: 992px) {
    .show-lg {
      display: none;
    }
}